html {
  font-size: 14px;
}

.container {
  padding: 0 20px;
}

iframe {
  width: calc(100% - 40px);
}

/* larger carousel buttons */
.slick-prev:before, .slick-next:before {
  font-size: 60px;
}

.gift h3 {
  font-size: 1.7rem;
}

.gift span {
  font-size: 2rem;
}

.gift span:after {
  font-size: 1.3rem;
}

.btn {
  font-size: 1.5rem;
}

