.hide-mobile {
  display: none !important;
}

.show-mobile {
  display: block;
}

html {
  font-size: 14px;
}

body {
  padding-bottom: 70px; /* for fixed footer */
  padding-top: 70px; /* for fixed nav */
}

ul {
  padding-right: 26px;
}

li {
  padding-right: 0;
}

h1 {
  margin-top: 18px;
}

.container {
  padding: 0 20px;
}


#tabs {
  margin-top: 40px;
}

.nav {
  right: 0;
}

#tabs .container,
.video-container {
  padding: 0;
}

.row-video {
  margin: 0 -20px;
}

iframe {
  border-radius: 0;
  border: 0;
  height: 250px;
  min-height: 0;
  vertical-align: bottom;
}

#buttons .btn {
  font-size: 1.2rem;
  height: 47px;
}

.slick-prev {
  left: -23px;
}

.slick-arrow:before {
  font-size: 26px;
}

#gifts #carousel {
  margin: 20px 10px;
}

.slick-next {
  right: -18px;
}

.gift h3 {
  font-size: 1.5rem;
}

.gift span {
  font-size: 2rem;
}

.gift[onclick]:hover img {
  box-shadow: none;
}

.btn {
  font-size: 1.5rem;
}

#clock {
  display: block;
  margin-bottom: 20px;
}

#minutes:before, #hours:before {
  vertical-align: text-top;
  font-size: 3.5rem;
}

#days {
  margin-right: 0;
}

#short {
  padding-bottom: 0;
}

#about {
  background-position-y: -60px;
}

#about .row {
  margin: 0;
}

.box {
  margin: 250px 20px 0;
}

#about .box {
  margin-top: 280px;
}

#you, #tab-content {
  padding: 0;
}

nav {
  height: auto;
  min-height: 70px;
}

nav .logo {
  position: absolute;
  left: 50%;
  margin-left: -30px;
  top: 8px;
}

nav .logo img {
  height: 50px;
}

.navbar-toggler {
  position: absolute;
  right: 4px;
  top: 13px;
  border: 0;
  font-size: 1.75rem;
}

.navbar-toggler-icon {
  border: 0;
}

.navbar-nav {
  padding-top: 70px;
  padding-bottom: 30px;
}

#tab-content, .bg2 {
  background: white;
}

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: white;
  height: 70px;
  padding: 0;
}

footer .container {
  height: 100%;
  padding: 0 15px;
}

footer a {
  color: initial !important;
  font-size: 1.4rem !important;
  opacity: 1;
  border: 1px solid black;
  display: block;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

footer a svg {
  width: 30px;
  height: 30px;
  margin-top: -6px;
  fill: #4d7272;
}