.show-mobile {
  display: none;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  direction: rtl;
  text-align: right;
  font-family: Assistant, "Segoe UI", arial;
  font-size: 1.25rem;
  padding-top: 180px;
  background-color: white;
  color: #003535;
  min-height: 100vh;
  margin: 0;
}

a {
  color: #003535;
}

h1, h2 {
  font-size: 1.7rem;
  font-weight: bold;
}

h3 {
  font-size: 1.1rem;
  font-weight: bold;
}

h4 {
  font-size: 1.5rem;
  font-weight: 600;
}

ul {
  padding-right: 36px;
}

li {
  padding-right: 6px;
}

li:not(:last-child) {
  padding-bottom: 15px;
}

.plus {
  list-style: none;
  padding: 0;
}

.plus h4:before {
  content: '+ ';
}

.plus p {
  padding-right: 17px;
}

.container {
  padding: 0;
  position: relative;
}

/* colors */
.btn {
  font-size: 1.1rem;
  height: 53px;
  line-height: 50px;
  border-radius: 27px;
  padding: 0px 20px;
  font-family: arial;
  border-width: 2px;
  font-family: Assistant, "Segoe UI", arial;
  font-weight: 600;
}

.btn {
  background-color: #048184;
  border-color: #048184;
  color: white;
}

.btn:hover {
  border-color: #048184;
  color: #048184;
  background-color: white;
}

.btn-outline-primary,
.btn-primary:hover {
  border-color: #d31856;
  color: #d31856;
  background-color: white;
}

.btn-primary,
.btn-outline-primary:hover {
  background-color: #d31856;
  border-color: #d31856;
}

.btn-outline-primary,
.btn-primary:hover {
  border-color: #d31856;
  color: #d31856;
  background-color: white;
}

.btn-secondary,
.btn-outline-secondary:hover {
  background-color: #71a807;
  border-color: #71a807;
}

.btn-outline-secondary,
.btn-secondary:hover {
  border-color: #71a807;
  color: #71a807;
  background-color: white;
}

.btn-border-white {
  border-color: white !important;
}

.bg1 {
  background-color: #eef8f8;
}

.bg2 {
  background-color: #f1f6e6;
}

.bg3 {
  background-color: #d31856;
}

nav {
  background: #71a807;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0 0 8px 0px rgba(0,0,0,.3);
  z-index: 2;
}

nav,
nav a {
  color: white !important;
}

nav .container {
  height: 100%;
}

nav {
  height: 106px;
}

nav .logo img {
  height: 80px;
}

nav .btn {
  border-width: 3px;
  height: 57px;
  border-radius: 28px;
}

#english {
  vertical-align: middle;
  font-size: 1rem;
  position: relative;
  left: 22px;
}

.logo {
  display: inline-block; /* flexbox fix for ie10 */
}

#profile img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  margin-left: 7px;
}

iframe {
  width: 100%;
  height: 100%;
  min-height: 360px;
  background-color: black;
  border: 1px solid #dfdcd6;
  border-radius: 5px;
}

#funding {
  color: #4d7272;
  font-size: 0.9rem;
  margin: 20px 0 38px;
}

#funding strong {
  font-size: 1.4rem;
  color: #003535;
  position: relative;
  top: 5px;
}

#funding .flex-grow-1 {
  display: inline-block; /* fix for ie10 */
}

#buttons {
  text-align: left;
}

#buttons .btn {
  margin-left: 8px;
}

#buttons a:not(.btn) {
  vertical-align: top;
  text-decoration: none !important;
  margin-right: 4px;
}

#buttons a:not(.btn) svg {
  fill: #4d7272;
  width: 17px;
  height: 17px;
}

#buttons a:not(.btn):hover svg {
  fill: #003535;
}

#gifts-link {
  padding-left: 15px;
}

#gifts-link svg {
  fill: white;
  width: 22px;
  height: 22px;
  position: relative;
  top: -2px;
  right: 3px;
  transition: transform 0.1s ease-in;
}

#gifts-link:hover svg {
  fill: #048184;
  transform: rotate(-9deg) translateX(1px) scale(1.08);
}

/* spacing for scroll position */
#gifts-anchor {
  margin-top: -136px;
  padding-top: 136px;
}

.progress, .progress-bar {
  border-radius: 7px;
  height: 13px;
}
.progress {
  background-color: #e0e0e0;
  margin: 10px 0;
}
.progress-bar {
  background-color: #96db00;
}

#tabs {
  margin-top: 70px;
}

#tab-content {
  background-color: #8ad2ce;
  padding: 30px 0;
}

.nav {
  height: 70px;
  right: -1rem;
}

.nav-link {
  position: relative;
  line-height: 70px;
  padding-top: 0;
  padding-bottom: 0;
}
.nav-link:hover {
  background-color: #e1eceb;
  color: inherit;
}
.nav-link.active:after {
  content: '';
  position: absolute;
  bottom: 18px;
  left: 15px;
  right: 15px;
  height: 4px;
  background: #048184;
  border-radius: 2px;
}

.nav-link img {
  height: 18px;
  margin-right: 4px;
  margin-top: -2px;
}

.box {
  background-color: white;
  padding: 25px 30px;
  margin: 30px 0;
  font-size: 1rem;
}
.box h2 {
  margin-bottom: 20px;
}

#about {
  background: url(img/why.jpg) no-repeat right top;
  background-size: contain;
}

@media (min-width: 1200px) {
  #about {
    background-size: 55%;
  } 
}

#faq-inner {
  background: white;
  padding: 20px;
}

#you {
  padding: 50px 0;
}

#you .container {
  background: url(img/you.jpg) no-repeat left top;
  background-size: contain;
}

#surpass {
  padding: 50px 0;
  background-image: url(img/surpass.jpg);
  background-size: cover;
}

#surpass:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0,0,0,0.75);
}

.inverse {
  color: white;
  position: relative;
}

#countdown {
  color: #d31856;
  text-align: center;
  padding: 50px 0;
  transition: opacity 0.5s ease-in;
}

#countdown:not([data-ready]) {
  opacity: 0;
}

#clock {
  display: inline-block;
}

#countdown span {
  font-size: 4.9rem;
  display: inline;
  font-weight: bold;
  font-variant-numeric: tabular-nums;
  position: relative;
  font-family: "Lucida Console", Monaco, monospace;
}

#countdown span:after {
  font-size: 1.3rem;
  font-weight: normal;
  position: absolute;
  left: 5px;
  bottom: -13px;
  font-family: Assistant, "Segoe UI", arial;
  color: #003535;
}

#days {
  color: white;
  background: #d31856;
  padding: 6px 13px;
  border-radius: 10px;
  margin-right: 40px;
}

#days:empty {
  display: none;
}

#days:after {
  content: ' ימים';
  color: white !important;
  left: 14px !important;
  bottom: -1px !important;
}

#hours:after {
  content: ' שעות';
}

#minutes:after {
  content: ' דקות';
}

#seconds:after {
  content: ' שניות';
}

#minutes:before,
#hours:before {
  content: ':';
  margin-left: 2px;
  font-size: 4.3rem;
  vertical-align: top;
}

#short {
  padding-bottom: 50px;
}

#short h2 {
  margin-bottom: 20px;
}

#gifts {
  padding: 30px 0;
}

#gifts .row {
  margin: 0;
}

#gifts #carousel {
  margin: 30px 0;
  direction: ltr;
}

.gift[onclick]:hover {
  cursor: pointer;
}

.gift[onclick]:hover img {
  box-shadow: 0 0 0px 5px white;
}

#carousel:not(.slick-initialized) {
  opacity: 0;
  height: 326px; /* prevents a "jump" in full size desktop */
}

.slick-arrow {
  z-index: 1;
  width: 25px;
  height: 22px;
}

.slick-arrow:before {
  font-size: 40px;
}

.slick-prev {
  left: -35px;
}

.slick-next {
  right: -20px;
}

.gift {
  position: relative;
  padding: 10px;
  direction: rtl;
}

.gift img {
  width: 100%;
  height: auto;
}

.gift div {
  background: white;
  min-width: 60%;
  padding: 4px 9px;
  position: absolute;
  bottom: 20px;
  right: 0;
  text-align: right;
}

.gift h3 {
  margin-bottom: 0;
}

.gift span {
  font-size: 1.8rem;
  font-weight: bold;
  margin-top: -6px;
  display: block;
  color: #4d7272;
}

.gift span:before {
  font-size: 1.1rem;
  margin-left: 4px;
  content: ' בכל תרומה מעל';
}

#story {
  padding: 50px 0;
}

#story img {
  float: left;
  margin: 0 20px 10px 0;
  padding: 0 !important;
}

footer {
  background-color: #048184;
  padding: 30px 0;
}

footer {
  color: rgba(255,255,255,0.7) !important;
}

footer a {
  color: white !important;
  opacity: 0.7;
}

footer .logo img {
  height: 100px;
}

#info {
  text-align: left;
  font-size: 16px;
}

.link {
  background: url(img/link.svg) no-repeat right 9px;
  padding-right: 17px;
}